{
     text-decoration: none;<br>						
    position: absolute;<br>
    top:-34px;<br>
    right: 10px;<br>
    color: white;<br>
  font-size: 1.8em;}

.image-r{ margin-top: 20px;<br>
  margin-left: 20px;<br>
  margin-bottom: 20px;}


#header h1{  
     position: absolute;<br>
    left: 420px;<br>
    top:5px;<br>
    font-size: 3em;<br>
    font-family: 'Devonshire', cursive;<br>
    color: #E35335;}


#header { 
    position: relative;<br>
  margin-top: 40px;<br>
  border-radius: 12px 12px 0px 0px;}


footer {   background-color: #777;<br>
    height: 80px;<br>
    clear: both;}


#header a#logo1 img{   list-style-type: none;<br>
    margin: 0;<br>
    padding: 0;<br>
    float: left;<br>
    position: relative;<br>
    left:50%;}


#content-wrapper {   
    background-image: url("../images/repeating.png");<br>
    float: left;}


body {
       background-image: url("../images/black.jpg"); }


{   min-height: 300px;<br>
    width: 715px;<br>
    margin-right: 30px;<br>
    float: left;<br>
    margin-left: 15px;}


h2 strong { font-size: 2em;<br>
  font-weight: 900;}

#side-content {   
    float: right;<br>
    border: 2px solid blue;<br>
    width: 300px;<br>
    padding: 5px;<br>
    background-color: white;<br>
    margin: 10px 0 10px 20px;}

{   
    min-height: 150px;<br>
    width: 200px;<br>
    float: left;}


main nav ul li{   float: left;<br>
    width: 100%;<br>
    background-color: #333;}

#main-content {   padding: 10px 25px;<br>
    display: block;<br>
    text-decoration: none;<br>
    color: #ccc;}


main nav ul li a{   
    background-color: #ccc;<br>
    color: #333;}

#page-wrapper{   
    width: 960px;<br>
    margin: 0 auto;<br>
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 1);<br>
    border-radius: 12px 12px 0px 0px; }

main nav ul li a{   
    float: left;<br>
    position: relative;<br>
    right: 50%;}

#center {       
    width: 960px;<br>
        text-align: center;}

strong { 
    font-weight: 900;<br>
    font-size: 48px;}
